body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#contenedor-productos, #resultados-busqueda, #resumen-carrito {
    margin: 20px;
}

#resumen-carrito {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e74c3c; 
    color: white;
}

button:hover {
    background-color: #c0392b;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#boton-volver {
    display: none;
}
